body, p {
    padding: 0;
    margin: 0;
    display: grid;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
}

.principal{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 450px 150px;
}