body{
    background-color: rgb(38, 37, 46);
}


.div1{
    padding: 10PX;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    height: 450px;
    width: 420px;
    background-color: aliceblue
}

.infosis{
    color: rgb(40, 173, 244);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',bold;
    font-size: 35px;
}

.bemvindo{
    color: rgb(81, 155, 81);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',bold;
}

.campoLoginSenha{
    width: 20px;
}